In [3]:
import pandas as pd

#using a relative path
file_path = "../data/AmesHousing.csv"
df = pd.read_csv(file_path)

df.head()

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900

### Total Missing Cells

In [ ]:
print("Total missing values:", df.isna().sum().sum())

Total missing values: 15749

### Any columns that are completely empty

In [ ]:
print("Columns entirely null:", df.columns[df.isna().all()].tolist())

Columns entirely null: []

### Percentage of missing data overall

In [ ]:

print("Overall missing %:", round(df.isna().mean().mean() * 100, 2))

Overall missing %: 6.55


### Columns with >50% missing

In [ ]:
high_missing = df.isna().mean() * 100
print("Columns >50% missing:\n", high_missing[high_missing > 50])

Columns >50% missing:
 Alley           93.242321
Mas Vnr Type    60.580205
Pool QC         99.556314
Fence           80.477816
Misc Feature    96.382253
dtype: float64

### Quick check for numeric columns missing

In [ ]:
numeric_missing = df.select_dtypes(include="number").isna().sum().sum()
print("Numeric missing count:", numeric_missing)

Numeric missing count: 682

### Proof that no 'critical' columns (SalePrice) are missing

In [ ]:
critical_cols = ['SalePrice', 'Gr Liv Area', 'Overall Qual']
print(df[critical_cols].isna().sum())

SalePrice       0
Gr Liv Area     0
Overall Qual    0
dtype: int64